body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    width: 300px;
    border-radius: 10px;
    background-color: #333;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

input[type="text"] {
    width: calc(100% - 5px);
    height: 60px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    text-align: right;
    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

input[type="button"] {
    width: 70px;
    height: 60px;
    font-size: 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #666;
    color: #fff;
    transition: background-color 0.3s ease;
}

input[type="button"].digit {
    background-color: #333;
}

input[type="button"].operator {
    background-color: #555555;
}

input[type="button"].equals {
    background-color: #3a86ff;
}

input[type="button"].clear {
    background-color: #ff6347;
}

input[type="button"]:hover {
    background-color: #888;
}
